<!-- <dx-data-grid
    [dataSource]="studentDataSource"
    [remoteOperations]="true">

    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-remote-operations
        [groupPaging]="false">
    </dxo-remote-operations>

    <dxo-search-panel 
        [visible]="true"
        [placeholder]="'Nhập thông tin tìm kiếm'"
        [(text)]="searchText"
    ></dxo-search-panel>

    <dxi-column 
        dataField="code" 
        caption="Mã SV" 
        alignment="left"
        [allowFiltering]="false"
    ></dxi-column>
    <dxi-column 
        dataField="fullName" 
        caption="Họ và tên" 
        alignment="left"
        [allowFiltering]="false"
    ></dxi-column>
    <dxi-column 
        dataField="gender" 
        caption="Giới tính" 
        alignment="left"
        [allowFiltering]="true"
        [calculateCellValue]="calculateGenderValue"
    >
        <dxo-header-filter
            [visible]="true"
            [dataSource]="genderHeaderFilter"
        ></dxo-header-filter>
    </dxi-column>
    <dxi-column 
        dataField="dateOfBirth" 
        dataType="date" 
        caption="Ngày sinh" 
        alignment="left"
        [allowFiltering]="false"
    ></dxi-column>
    <dxi-column 
        dataField="phone" 
        caption="Số điện thoại"
        alignment="left"
        [allowFiltering]="false"
    ></dxi-column>
    <dxi-column 
        dataField="homeRoom.name" 
        caption="Lớp sinh hoạt" 
        alignment="left"
        [allowFiltering]="true"
    >
        <dxo-header-filter
            [visible]="true"
            [dataSource]="homeRoomDataSource"
        >
            <dxo-search 
                [enabled]="true"
            ></dxo-search>
        </dxo-header-filter>
    </dxi-column>
    <dxi-column 
        dataField="faculty.name" 
        caption="Khoa" 
        alignment="left"
        [allowFiltering]="true"
    >
        <dxo-header-filter
            [visible]="true"
            [dataSource]="facultyDataSource"
        ></dxo-header-filter>
    </dxi-column>
    <dxi-column 
        dataField="educationProgram.name" 
        caption="Hệ đào tạo" 
        alignment="left"
        [allowFiltering]="true"
    >
        <dxo-header-filter
            [visible]="true"
            [dataSource]="educationProgramDataSource"
        >
            <dxo-search 
                [enabled]="true"
            ></dxo-search>
        </dxo-header-filter>
    </dxi-column>
    <dxi-column 
        dataField="score" 
        caption="Điểm" 
        alignment="left"
        [allowFiltering]="false"
    ></dxi-column>

    <dxo-paging 
        [enabled]="true" 
        [pageSize]="20"
    > </dxo-paging>

    <dxo-pager
        [showPageSizeSelector]="false"
        [showInfo]="true"
        [visible]="true"
    >
    </dxo-pager>

</dx-data-grid>

<app-filter></app-filter> -->