<form [formGroup]="form" (ngSubmit)="onSubmit()">
  
  <app-text-input
    title="Mật khẩu"
    type="password"
    formControlName="password"
    placeHolder="Nhập mật khẩu đặt lại"
  ></app-text-input>

  <app-text-input
    title="Mật khẩu xác nhận"
    type="password"
    formControlName="confirmPassword"
    placeHolder="Nhập mật khẩu xác nhận"
  >
    <span validation class="text-red-500 text-sm mb-3" *ngIf="form.hasError('passwordNoMatch') && form.controls.confirmPassword.touched">Mật khẩu xác nhận không chính xác.</span>
  </app-text-input>

  <div class="mt-3 flex flex-row justify-center">
    <app-button 
      text="Đặt lại mật khẩu"
      type="submit"
      [loading]="loading"
    ></app-button>
  </div>

  <div class="mt-3">
    Đã có tài khoản?
    <app-link text="Đăng nhập?" link="/auth/login"></app-link>
  </div>
  
</form>